.dropdown {
    background: transparent;
    position: relative;
    width: min-content;
    padding: var(--padding-base);
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.dropdown-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
}
.dropdown:active .dropdown-hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.dropdown :is(span, i) {
    position: relative;
    z-index: 2;
}

.dropdown {
    color: var(--color-white);
}

.dropdown.primary,
.dropdown.primary .dropdown-items {
    background-color: var(--color-primary);
}

.dropdown.primary:hover {
    background-color: var(--color-primary-lighter);
}

.dropdown.primary-lighter,
.dropdown.primary-lighter .dropdown-items {
    background-color: var(--color-primary-lighter);
}

.dropdown.primary-lighter:hover {
    background-color: var(--color-primary-lightest);
}

.dropdown.primary-lighter:active {
    background-color: var(--color-primary-medium-light);
}

.dropdown.secondary,
.dropdown.secondary .dropdown-items {
    background-color: var(--color-secondary);
}

.dropdown.secondary-lighter,
.dropdown.secondary-lighter .dropdown-items {
    background-color: var(--color-secondary-lighter);
}

.dropdown.secondary-lighter:hover {
    background-color: var(--color-secondary-lightest);
}

.dropdown.secondary-lighter:active {
    background-color: var(--color-secondary-medium-light);
}

.dropdown.info,
.dropdown.info .dropdown-items {
    background-color: var(--color-info);
}

.dropdown.info-lighter,
.dropdown.info-lighter .dropdown-items {
    background-color: var(--color-info-lighter);
}

.dropdown.info-lighter:hover {
    background-color: var(--color-info-lightest);
}

.dropdown.info-lighter:active {
    background-color: var(--color-info-medium-light);
}

.dropdown.success,
.dropdown.success .dropdown-items {
    background-color: var(--color-success);
}

.dropdown.success-lighter,
.dropdown.success-lighter .dropdown-items {
    background-color: var(--color-success-lighter);
}

.dropdown.success-lighter:hover {
    background-color: var(--color-success-lightest);
}

.dropdown.success-lighter:active {
    background-color: var(--color-success-medium-light);
}

.dropdown.danger,
.dropdown.danger .dropdown-items {
    background-color: var(--color-danger);
}

.dropdown.danger-lighter,
.dropdown.danger-lighter .dropdown-items {
    background-color: var(--color-danger-lighter);
}

.dropdown.danger-lighter:hover {
    background-color: var(--color-danger-lightest);
}

.dropdown.danger-lighter:active {
    background-color: var(--color-danger-medium-light);
}

.dropdown-caret::after {
    font-family: Arial, Helvetica, sans-serif;
    content: "\25bc";
    margin-left: 1rem;
}

.dropdown-items {
    position: absolute;
    display: none;
    border-radius: 0.5rem;
    top: 2.2em;
    width: 200px;
    z-index: 5;
    box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.6);
}

.dropdown-items.align-left {
    left: 0;
}

.dropdown-items.align-right {
    right: 0;
}

.dropdown:hover .dropdown-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-items > * {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}

.dropdown-items > *:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.dropdown-items > *:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.dropdown-items > *:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
