.footer {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
}

.footer:is(.primary, .secondary, .info, .success, .danger) {
    color: var(--color-white);
}

.footer[class$="lighter"] {
    color: var(--color-gray-darker);
}

.footer.primary {
    background-color: var(--color-primary);
}

.footer.primary-lighter {
    background-color: var(--color-primary-lightest);
}

.footer.secondary {
    background-color: var(--color-secondary);
}

.footer.secondary-lighter {
    background-color: var(--color-secondary-lightest);
}

.footer.info {
    background-color: var(--color-info);
}

.footer.info-lighter {
    background-color: var(--color-info-lightest);
}

.footer.success {
    background-color: var(--color-success);
}

.footer.success-lighter {
    background-color: var(--color-success-lightest);
}

.footer.danger {
    background-color: var(--color-danger);
}

.footer.danger-lighter {
    background-color: var(--color-danger-lightest);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 559px) {
    .footer {
        align-items: center;
        row-gap: 0.5rem;
    }
}

@media screen and (min-width: 600px) {
    .footer {
        flex-direction: row;
        padding: 0.5rem 2rem;
    }
}
