.header,
.header-items {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.header {
    padding: 0.5rem;
    font-weight: bolder;
    position: relative;
}

.header-logo,
.header-logo img {
    max-height: 2.5rem;
}

.header:is(.primary, .secondary, .info, .success, .danger) {
    color: var(--color-white);
}

.header[class$="lighter"] {
    color: var(--color-gray-darker);
}

.header.primary {
    background-color: var(--color-primary);
}

.header.primary-lighter {
    background-color: var(--color-primary-lightest);
}

.header.secondary {
    background-color: var(--color-secondary);
}

.header.secondary-lighter {
    background-color: var(--color-secondary-lightest);
}

.header.info {
    background-color: var(--color-info);
}

.header.info-lighter {
    background-color: var(--color-info-lightest);
}

.header.success {
    background-color: var(--color-success);
}

.header.success-lighter {
    background-color: var(--color-success-lightest);
}

.header.danger {
    background-color: var(--color-danger);
}

.header.danger-lighter {
    background-color: var(--color-danger-lightest);
}

.header a {
    color: inherit;
    text-decoration: none;
}

.mobile-toggle {
    position: absolute;
    right: 1rem;
    top: 0.4rem;
    padding: 0.2rem 0.5rem 0.8rem;
    display: inline-block;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: 1px solid;
    border-radius: 0.7rem;
    margin: 0;
}

.mobile-toggle:hover,
.mobile-toggle.active:hover {
    opacity: 0.5;
}

.header:is(.primary, .secondary, .info, .success, .danger) .mobile-toggle {
    border-color: var(--color-white);
}

.header[class$="lighter"] .mobile-toggle {
    border-color: var(--color-gray-darker);
}

.toggle-box {
    width: 2rem;
    height: 0.5rem;
    display: inline-block;
    position: relative;
}

.toggle-inner {
    display: block;
    top: auto;
    bottom: 0;
    margin-top: -2px;
}

.header:is(.primary, .secondary, .info, .success, .danger) .toggle-inner,
.header:is(.primary, .secondary, .info, .success, .danger)
    .toggle-inner::before,
.header:is(.primary, .secondary, .info, .success, .danger)
    .toggle-inner::after {
    background-color: var(--color-white);
}

.header[class$="lighter"] .toggle-inner,
.header[class$="lighter"] .toggle-inner::before,
.header[class$="lighter"] .toggle-inner::after {
    background-color: var(--color-gray-darker);
}

.toggle-inner,
.toggle-inner::before,
.toggle-inner::after {
    width: 2rem;
    height: 0.3rem;
    border-radius: 0.4rem;
    position: absolute;
}

.toggle-inner::before,
.toggle-inner::after {
    content: "";
    display: block;
}

.toggle-inner::before {
    top: 0.5rem;
}

.toggle-inner::after {
    bottom: 0.5rem;
}

.mobile-toggle.active .toggle-inner {
    transform: translate3d(0, -0.5rem, 0) rotate(-45deg);
}

.mobile-toggle.active .toggle-box {
    top: 5px;
}

.mobile-toggle.active .toggle-inner::before {
    top: auto;
    transform: rotate(-90deg);
}

.mobile-toggle.active .toggle-inner::after {
    top: auto;
    opacity: 0;
}

@media screen and (max-width: 599px) {
    .header-logo {
        align-self: flex-start;
        margin-left: 3rem;
    }

    .header-items {
        position: absolute;
        display: none;
    }

    .header-items.active {
        position: static;
        display: flex;
    }

    .header-item,
    .header-item * {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .header,
    .header-items {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }

    .header {
        padding: 0.5rem 2rem;
    }

    /* .mobile-toggle {
        display: none;
    } */
}
