:root {
	--color-primary: #6e41e2;
	--color-primary-lightest: #c5b3f3;
	--color-primary-lighter: #8b67e8;
	--color-primary-dark: #4d2e9e;
	--color-secondary: #2daf93;
	--color-secondary-lightest: #abdfd4;
	--color-secondary-lighter: #57bfa9;
	--color-secondary-dark: #207b67;
	--color-info: #428bf9;
	--color-info-lightest: #b3d1fd;
	--color-info-lighter: #68a2fa;
	--color-info-dark: #2e61ae;
	--color-danger: #c7302b;
	--color-danger-lightest: #e9acaa;
	--color-danger-lighter: #d25955;
	--color-danger-dark: #8b221e;
	--color-success: #27ae60;
	--color-success-lightest: #a9dfbf;
	--color-success-lighter: #52be80;
	--color-success-dark: #1b7a43;
	--color-white: #fff;
	--color-gray-light: #f1f1f1;
	--color-gray-medium: #d4d4d4;
	--color-gray-dark: #6b6b6b;
}