:root {
	--color-primary: #0000bb;
	--color-primary-lightest: #b3b3eb;
	--color-primary-lighter: #8080dd;
	--color-primary-dark: #000083;
	--color-secondary: #b700b7;
	--color-secondary-lightest: #e9b3e9;
	--color-secondary-lighter: #db80db;
	--color-secondary-dark: #800080;
	--color-info: #00bcb0;
	--color-info-lightest: #b3ebe7;
	--color-info-lighter: #80ded8;
	--color-info-dark: #00847b;
	--color-danger: #b20000;
	--color-danger-lightest: #e8b3b3;
	--color-danger-lighter: #d98080;
	--color-danger-dark: #7d0000;
	--color-success: #00bb00;
	--color-success-lightest: #b3ebb3;
	--color-success-lighter: #80dd80;
	--color-success-dark: #008300;
	--color-white: #fff;
	--color-gray-light: #f1f1f1;
	--color-gray-medium: #d4d4d4;
	--color-gray-dark: #6b6b6b;
	--color-gray-darker: #3e3e3e;
}