*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size);
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}
